.loading-container {
	min-height: 200px;
}

.slds-list_dotted {
	margin-left: 1rem;
}

.slds-dl_horizontal__label {
	font-weight: bold;
}

.slds-dl_horizontal__detail {
	margin-bottom: 0.5rem;
}

.record-preview-container {
	max-height: 150px;
	overflow-y: auto;
	padding: 0.5rem;
	background-color: #f3f3f3;
	border-radius: 0.25rem;
}
